@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@600&display=swap");

body {
font-family: "Poppins", sans-serif;
}
.header {
margin: 0 auto;
background-color: aquamarine;
}
nav {
display: flex;
justify-content: space-between;
}
.navigation {
display: flex;
}
.navigation li {
list-style: none;
margin: 10px;
}
li a {
text-decoration: none;
}


/* --------------top banner----------- */

.top-banner {
display: grid;
grid-template-columns: repeat(2, 1fr);
 height: 500px; 
 width: 90%;
 margin: 0 auto;
 margin-top: 50px;
justify-items: center;
}
.right-banner img{
background-image: url(/images/CircleDesign.svg);

}

h1 {
font-weight: 700;
font-size: 52px;
}
.left-banner a {
    color: whitesmoke;
    font-size: 16px;
text-decoration: none;
background-color: #e02c6d;
padding: 30px, 24px;
border-radius: 20px;
padding: 7px 10px;
}

/* --------main------ */
.container {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 50px;
align-items: center;
justify-items: center; 
padding: 70px; 
}
.collections {
padding: 0 10px;
border: 2px solid lightgray;
width: 100%;
border-radius: 10px;
background-color: #ffff;

}

.collection-banner img {
padding-top: 10px;
width: 100%;
}
.collection-details h2 {
margin: 2px;
}
.collection-info p {
color: #787885;
font-size: 14px;
}
.collection-title {
font-weight: 500px;
font-size: 28px;
}
.price {
color: #454549;
font-size: 22px;
font-weight: 100;
}
.title {
text-align: center;
}
.rating {
display: flex;
align-items: center;
}
span{
    margin-left: 10px;
}
.price{
    color: black;
}
.fa-star.field {
color: #ffc014;
}

/* -----------footer----------------- */
footer{
    margin-top: 30px;
    background-color: rgb(10, 10, 44);
    color: #faf8f8;
    padding: 20px;
}
.buttom{
    text-align: center;
    
}
footer .fab{
    background-color: rgb(99, 98, 97);
    margin: 10px;
    font-size: 20px;
    padding: 7px;
    border-radius: 50%;
}
footer .fas{
    background-color: rgb(99, 98, 97);
    margin: 10px;
    margin: 0px 16px;
    font-size: 20px;
    padding: 7px;
    border-radius: 50%;
}




.right-banner:hover{
    transform: scale(1.2);
    transition: 2s ease-in-out;
}